body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
.bg-steel {
  background-color: #913f30;
}

.site-header .navbar-nav .nav-link {
  color: #f0d3ce;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.post-title {
  color: #c7614c;
}

a.post-title:hover {
  color: #a32d15;
  text-decoration: none;
}

#login-form{
    margin-top: 30px;
}

.page-form{
    max-width: 480px;
}